/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a:visited {
	color: #000000;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.footerBottom {
	height: 79vh;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a {
	text-decoration: none;
}
nav a:hover {
	color: #B1663C;
}
li:hover {
	color: #B1663C;
}
.currentLink {
    font-weight: 600;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.cursorPointer {
	cursor: pointer;
}

.projects {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 1em;
}

#portfolio h2 {
	text-align: center;
}

.modifyWorks {
	align-self: center;
}
.fa-pen-to-square {
	font-size: 20px;
	margin-right: 10px;
}
.modifyLink {
	text-decoration: none;
	color: #000000;
	vertical-align: text-top;
}
.flexCenter {
	justify-content: center;
	align-items: center;
}
#openModalButton {
	border: none;
	background: none;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	margin: 0 auto;
}
.modalGallery, .modalAddWork {
	border: 1px black solid;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 630px;
	position: relative;
}
.modalAddWork {
	display: none;

}

.icons {
	display: flex;
	justify-content: space-between;
}
.fa-arrow-left {
	font-size: 20px;
	margin: 30px 0 0 30px;
}
.fa-xmark {
	font-size: 20px;
	margin: 30px 35px;
	position: absolute;
	right: 0;
}
.modalGallery h3,
.modalAddWork h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 46px;
}
.galleryContainer {
	margin: 0 105px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 7px;
	grid-row-gap: 10px;
}
.galleryContainer img {
	width: 100%;
}
.galleryContainer figure {
	position: relative;
}
.fa-trash-can,
.fa-arrows-up-down-left-right {
	font-size: 10px;
	background-color: #000000;
	color: #FFFFFF;
	padding: 3px;
	line-height: normal;
	border-radius: 2px;
}
.fa-trash-can {
	position: absolute;
	z-index: 1;
}
hr {
	width: 67%;
	margin-top: 47px;
}
.flexColumn {
	display: flex;
	flex-direction: column;
	text-align: center;
}
#addWorkButton {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 38px auto 0 auto;
	width: 237px;
	border-radius: 60px;
	height: 36px;
	border: none;
}
#deleteWorkButton {
	font-family: 'Syne';
	font-weight: 700;
	color: #D65353;
	margin-top: 23px;
	margin-bottom: 48px;
	border: none;
	background: none;
}

.addImgContainer {
	background: #E8F1F6;
	width: 65%;
	border-radius: 3px;
	text-align: center;
	padding-top: 28px;
	padding-bottom: 19px;
	margin: 0 auto 10px auto;
}
.addImgContainer .fa-image {
	display: block;
	color: #B9C5CC;
	font-size: 60px;
	margin-bottom: 20px;
}
.addImgContainer label {
	display: inline-block;
	font-family: 'Syne';
	color: #306685;
	background-color: #CBD6DC;
	padding: 10px 33px;
	border-radius: 50px;
	font-weight: 500;
}
#addImgButton {
	display: none;
}
.addImgContainer p {
	margin-top: 7px;
	font-size: 12px;
}
.info {
	margin: 0 auto 47px auto;
	width: 65%;
}
.info label {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
.info input, .info select {
	height: 50px;
}
#submitWork {
	width: 240px;
	height: 36px;
	border: none;
	margin-top: 32px;
	margin-bottom: 55px;
	display: flex;
	justify-content: center;
}

#filtersContainer {
	display: flex;
	gap: 10px;
	justify-content: center;
}
.filters {
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 10px 20px;
	margin-top: 21px;
	margin-bottom: 51px;
	cursor: pointer;
}
.filterActive {
	background-color: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#logIn {
	width: 50%;
	margin: auto;
	text-align: center;
}
#logIn form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#logIn input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#logIn label {
	margin: 2em 0 1em 0;
}


input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	background-color: #FFFFFF;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 2em;
	padding: 44px;
}